In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!tree

.
├── data_cleaning_and_extraction_CRC.ipynb
└── small_data.csv

0 directories, 2 files

# Extracting a Small Dataset from the Large Dataset

We want to extract data for 1 house in each of the 17 categories listed by ACORN.
These categories can be found on the ACORN information sheet.

> Each house must have at least 2 full years of data. This is checked below

In [3]:
# Load the first 30,000,000 rows of the master data sheet
df_full= pd.read_csv('../raw_data/CC_LCL-FullData-001.csv', nrows = 30_000_000)

In [4]:
# Examine the last LCLid
df_full.tail()

,LCLid,stdorToU,DateTime,KWH/hh (per half hour)
29999995,MAC001140,Std,2013-06-11 15:30:00.0000000,0.162
29999996,MAC001140,Std,2013-06-11 16:00:00.0000000,0.116
29999997,MAC001140,Std,2013-06-11 16:30:00.0000000,0.09
29999998,MAC001140,Std,2013-06-11 17:00:00.0000000,0.06
29999999,MAC001140,Std,2013-06-11 17:30:00.0000000,0.141

In [5]:
# List index
df_full.keys()

Index(['LCLid', 'stdorToU', 'DateTime', 'KWH/hh (per half hour) '], dtype='object')

In [6]:
# Convert DateTime column to DateTime format for ease of viewing
df_full['DateTime'] = pd.to_datetime(df_full['DateTime'])

In [7]:
# What the DF looks like now
df_full.head()

       LCLid stdorToU            DateTime KWH/hh (per half hour)
0  MAC000002      Std 2012-10-12 00:30:00                      0
1  MAC000002      Std 2012-10-12 01:00:00                      0
2  MAC000002      Std 2012-10-12 01:30:00                      0
3  MAC000002      Std 2012-10-12 02:00:00                      0
4  MAC000002      Std 2012-10-12 02:30:00                      0

In [8]:
# One example of a house with a 'full-ish' set of data.  Obtained using masking

df18 = df_full[df_full['LCLid'] == 'MAC000897']
df18

              LCLid stdorToU            DateTime KWH/hh (per half hour)
24364481  MAC000897      Std 2012-04-27 10:00:00                  0.181
24364482  MAC000897      Std 2012-04-27 10:30:00                  0.102
24364483  MAC000897      Std 2012-04-27 11:00:00                  0.108
24364484  MAC000897      Std 2012-04-27 11:30:00                  0.844
24364485  MAC000897      Std 2012-04-27 12:00:00                  0.168
...             ...      ...                 ...                     ...
24396660  MAC000897      Std 2014-02-27 22:30:00                  0.174
24396661  MAC000897      Std 2014-02-27 23:00:00                  0.119
24396662  MAC000897      Std 2014-02-27 23:30:00                  0.111
24396663  MAC000897      Std 2014-02-28 00:00:00                   0.05
24396664  MAC000897      Std 2014-02-28 00:00:00                   0.05

[32184 rows x 4 columns]

In [9]:
# Creating a dictionary of LCL ID's which have good data.  This was explored.

small_data_keys = {'A':'MAC000030', 
                   'B':'MAC000897',
                   'C':'MAC000096',
                   'D':'MAC000026',
                   'E':'MAC000018',
                   'F':'MAC000039',
                   'G':'MAC000069', 
                   'H':'MAC000043',
                   'I':'MAC000492',
                   'J':'MAC000027',
                   'K':'MAC000019',
                   'L':'MAC000038',
                   'M':'MAC000111',
                   'N':'MAC000067',
                   'O':'MAC000171',
                   'P':'MAC000025',
                   'Q':'MAC000022'
                  }

In [10]:
# Dataframe with all data LCL ID's as defined by the dictionary above.

small_data = df_full[df_full['LCLid'].isin(small_data_keys.values())]
small_data

              LCLid stdorToU            DateTime KWH/hh (per half hour)
326624    MAC000018      Std 2011-12-07 09:30:00                  0.303
326625    MAC000018      Std 2011-12-07 10:00:00                    0.2
326626    MAC000018      Std 2011-12-07 10:30:00                  0.218
326627    MAC000018      Std 2011-12-07 11:00:00                  0.209
326628    MAC000018      Std 2011-12-07 11:30:00                   0.21
...             ...      ...                 ...                     ...
24396660  MAC000897      Std 2014-02-27 22:30:00                  0.174
24396661  MAC000897      Std 2014-02-27 23:00:00                  0.119
24396662  MAC000897      Std 2014-02-27 23:30:00                  0.111
24396663  MAC000897      Std 2014-02-28 00:00:00                   0.05
24396664  MAC000897      Std 2014-02-28 00:00:00                   0.05

[651696 rows x 4 columns]

We have obtained the data from the dataset that we want.  We now need to clean the data and prepare it for processing.

In [11]:
small_data_keys.items()

dict_items([('A', 'MAC000030'), ('B', 'MAC000897'), ('C', 'MAC000096'), ('D', 'MAC000026'), ('E', 'MAC000018'), ('F', 'MAC000039'), ('G', 'MAC000069'), ('H', 'MAC000043'), ('I', 'MAC000492'), ('J', 'MAC000027'), ('K', 'MAC000019'), ('L', 'MAC000038'), ('M', 'MAC000111'), ('N', 'MAC000067'), ('O', 'MAC000171'), ('P', 'MAC000025'), ('Q', 'MAC000022')])

## Processing and Cleaning Data

In [12]:
# Create inverse dictionary

inv_small_data_keys = {v: k for k, v in small_data_keys.items()}
inv_small_data_keys

{'MAC000030': 'A',
 'MAC000897': 'B',
 'MAC000096': 'C',
 'MAC000026': 'D',
 'MAC000018': 'E',
 'MAC000039': 'F',
 'MAC000069': 'G',
 'MAC000043': 'H',
 'MAC000492': 'I',
 'MAC000027': 'J',
 'MAC000019': 'K',
 'MAC000038': 'L',
 'MAC000111': 'M',
 'MAC000067': 'N',
 'MAC000171': 'O',
 'MAC000025': 'P',
 'MAC000022': 'Q'}

In [13]:
# Create new column with Group label

small_data['Acorn_Group'] = small_data['LCLid'].map(inv_small_data_keys)
small_data

/tmp/ipykernel_1381/739708498.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_data['Acorn_Group'] = small_data['LCLid'].map(inv_small_data_keys)

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn_Group
326624,MAC000018,Std,2011-12-07 09:30:00,0.303,E
326625,MAC000018,Std,2011-12-07 10:00:00,0.2,E
326626,MAC000018,Std,2011-12-07 10:30:00,0.218,E
326627,MAC000018,Std,2011-12-07 11:00:00,0.209,E
326628,MAC000018,Std,2011-12-07 11:30:00,0.21,E
...,...,...,...,...,...
24396660,MAC000897,Std,2014-02-27 22:30:00,0.174,B
24396661,MAC000897,Std,2014-02-27 23:00:00,0.119,B
24396662,MAC000897,Std,2014-02-27 23:30:00,0.111,B
24396663,MAC000897,Std,2014-02-28 00:00:00,0.05,B
24396664,MAC000897,Std,2014-02-28 00:00:00,0.05,B

In [15]:
# Re-index

small_data = small_data.reset_index().drop(columns = 'index')
small_data

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn_Group
0,MAC000018,Std,2011-12-07 09:30:00,0.303,E
1,MAC000018,Std,2011-12-07 10:00:00,0.2,E
2,MAC000018,Std,2011-12-07 10:30:00,0.218,E
3,MAC000018,Std,2011-12-07 11:00:00,0.209,E
4,MAC000018,Std,2011-12-07 11:30:00,0.21,E
...,...,...,...,...,...
651691,MAC000897,Std,2014-02-27 22:30:00,0.174,B
651692,MAC000897,Std,2014-02-27 23:00:00,0.119,B
651693,MAC000897,Std,2014-02-27 23:30:00,0.111,B
651694,MAC000897,Std,2014-02-28 00:00:00,0.05,B
651695,MAC000897,Std,2014-02-28 00:00:00,0.05,B

In [16]:
# Convert DateTime column to DateTime format

small_data['DateTime'] = pd.to_datetime(small_data['DateTime'])
small_data.dtypes

LCLid                              object
stdorToU                           object
DateTime                   datetime64[ns]
KWH/hh (per half hour)             object
Acorn_Group                        object
dtype: object

In [16]:
# Finding Null values in the dataframe

small_data[small_data['KWH/hh (per half hour) '] == 'Null']

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn_Group
18120,MAC000018,Std,2012-12-18 15:13:41,Null,E
57191,MAC000019,Std,2012-12-18 15:13:41,Null,K
96270,MAC000022,Std,2012-12-18 15:13:41,Null,Q
135335,MAC000025,Std,2012-12-18 15:13:41,Null,P
174406,MAC000026,Std,2012-12-18 15:13:41,Null,D
213471,MAC000027,Std,2012-12-18 15:13:41,Null,J
252539,MAC000030,Std,2012-12-18 15:13:42,Null,A
291562,MAC000038,Std,2012-12-18 15:13:43,Null,L
330592,MAC000039,Std,2012-12-18 15:13:43,Null,F
369564,MAC000043,Std,2012-12-18 15:13:43,Null,H
408543,MAC000067,Std,2012-12-18 15:13:46,Null,N
447517,MAC000069,Std,2012-12-18 15:13:46,Null,G
486350,MAC000096,Std,2012-12-18 15:13:49,Null,C
525015,MAC000111,Std,2012-12-18 15:13:51,Null,M
564667,MAC000171,Std,2012-12-18 15:13:29,Null,O
598551,MAC000492,Std,2012-12-18 15:15:43,Null,I
630759,MAC000897,Std,2012-12-18 15:17:18,Null,B

In [17]:
# Dropping these rows, which seem to be anomolous and not a half-hourly measurement.  
# 17 rows will be dropped.

small_data.drop(small_data[small_data['KWH/hh (per half hour) '] == 'Null'].index, inplace = True)

In [18]:
# Viewing the dataset now

small_data

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn_Group
0,MAC000018,Std,2011-12-07 09:30:00,0.303,E
1,MAC000018,Std,2011-12-07 10:00:00,0.2,E
2,MAC000018,Std,2011-12-07 10:30:00,0.218,E
3,MAC000018,Std,2011-12-07 11:00:00,0.209,E
4,MAC000018,Std,2011-12-07 11:30:00,0.21,E
...,...,...,...,...,...
651691,MAC000897,Std,2014-02-27 22:30:00,0.174,B
651692,MAC000897,Std,2014-02-27 23:00:00,0.119,B
651693,MAC000897,Std,2014-02-27 23:30:00,0.111,B
651694,MAC000897,Std,2014-02-28 00:00:00,0.05,B
651695,MAC000897,Std,2014-02-28 00:00:00,0.05,B

In [19]:
# Converting KWH column to float from object datatypes

small_data['KWH/hh (per half hour) '] = small_data['KWH/hh (per half hour) '].astype(float)
small_data.dtypes

LCLid                              object
stdorToU                           object
DateTime                   datetime64[ns]
KWH/hh (per half hour)            float64
Acorn_Group                        object
dtype: object

In [20]:
# Reordering column positions

small_data = small_data[['LCLid', 'Acorn_Group', 'DateTime', 'KWH/hh (per half hour) ']]
small_data.head()

       LCLid Acorn_Group            DateTime  KWH/hh (per half hour)
0  MAC000018           E 2011-12-07 09:30:00                    0.303
1  MAC000018           E 2011-12-07 10:00:00                    0.200
2  MAC000018           E 2011-12-07 10:30:00                    0.218
3  MAC000018           E 2011-12-07 11:00:00                    0.209
4  MAC000018           E 2011-12-07 11:30:00                    0.210

In [21]:
# Renaming last column

small_data = small_data.rename(columns = {'KWH/hh (per half hour) ':'KWH/hh'})
small_data

            LCLid Acorn_Group            DateTime  KWH/hh
0       MAC000018           E 2011-12-07 09:30:00   0.303
1       MAC000018           E 2011-12-07 10:00:00   0.200
2       MAC000018           E 2011-12-07 10:30:00   0.218
3       MAC000018           E 2011-12-07 11:00:00   0.209
4       MAC000018           E 2011-12-07 11:30:00   0.210
...           ...         ...                 ...     ...
651691  MAC000897           B 2014-02-27 22:30:00   0.174
651692  MAC000897           B 2014-02-27 23:00:00   0.119
651693  MAC000897           B 2014-02-27 23:30:00   0.111
651694  MAC000897           B 2014-02-28 00:00:00   0.050
651695  MAC000897           B 2014-02-28 00:00:00   0.050

[651679 rows x 4 columns]

In [22]:
# Exporting dataset as CSV

filepath = '../raw_data/small_data.csv'
small_data.to_csv(filepath)