In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Cleaning and Preprocessing by ACORN Class

In [10]:
# Save the Group Letter Name to be processed here

groupletter = 'E'
hnumber = 50

In [11]:
# Import Summary Datasheet

df_summary = pd.read_csv('../raw_data/summary_v1_selection.csv')
df_summary = df_summary[['LCLid', 'start_date', 'end_date', 'number_of_days', 'data_points', 'missing_hh', 'zeros', 'tariff', 'Block', 'Acorn', 'Group', 'Classification', 'Select']]

In [12]:
df_summary

,LCLid,start_date,end_date,number_of_days,data_points,missing_hh,zeros,tariff,Block,Acorn,Group,Classification,Select
0,MAC000002,12/10/2012 00:30,28/02/2014 00:00,503,24140,52,21,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,False
1,MAC000246,03/12/2011 09:00,28/02/2014 00:00,817,39244,3,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
2,MAC000450,22/03/2012 15:30,15/05/2013 00:00,418,20027,55,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,False
3,MAC001074,08/05/2012 10:30,20/12/2012 23:30,226,10779,96,0,No Data,No Data,No Data,No Data,No Data,False
4,MAC003223,17/09/2012 12:30,28/02/2014 00:00,528,25366,2,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5556,MAC003884,25/10/2012 16:00,28/02/2014 00:00,490,23537,0,22,No Data,No Data,No Data,No Data,No Data,False
5557,MAC004215,23/05/2012 10:00,28/02/2014 00:00,645,30986,3,1,No Data,No Data,No Data,No Data,No Data,True
5558,MAC004570,23/12/2011 10:00,28/02/2014 00:00,797,38281,4,0,No Data,No Data,No Data,No Data,No Data,True
5559,MAC004587,11/07/2012 08:00,28/02/2014 00:00,596,28631,10,0,No Data,No Data,No Data,No Data,No Data,True
5560,MAC004828,05/04/2012 13:30,28/02/2014 00:00,693,33160,126,11016,No Data,No Data,No Data,No Data,No Data,False

In [13]:
df_summary

,LCLid,start_date,end_date,number_of_days,data_points,missing_hh,zeros,tariff,Block,Acorn,Group,Classification,Select
0,MAC000002,12/10/2012 00:30,28/02/2014 00:00,503,24140,52,21,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,False
1,MAC000246,03/12/2011 09:00,28/02/2014 00:00,817,39244,3,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
2,MAC000450,22/03/2012 15:30,15/05/2013 00:00,418,20027,55,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,False
3,MAC001074,08/05/2012 10:30,20/12/2012 23:30,226,10779,96,0,No Data,No Data,No Data,No Data,No Data,False
4,MAC003223,17/09/2012 12:30,28/02/2014 00:00,528,25366,2,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5556,MAC003884,25/10/2012 16:00,28/02/2014 00:00,490,23537,0,22,No Data,No Data,No Data,No Data,No Data,False
5557,MAC004215,23/05/2012 10:00,28/02/2014 00:00,645,30986,3,1,No Data,No Data,No Data,No Data,No Data,True
5558,MAC004570,23/12/2011 10:00,28/02/2014 00:00,797,38281,4,0,No Data,No Data,No Data,No Data,No Data,True
5559,MAC004587,11/07/2012 08:00,28/02/2014 00:00,596,28631,10,0,No Data,No Data,No Data,No Data,No Data,True
5560,MAC004828,05/04/2012 13:30,28/02/2014 00:00,693,33160,126,11016,No Data,No Data,No Data,No Data,No Data,False

In [14]:
# Reduce selection to chosen group which has been selected
string = f'ACORN-{groupletter}'
df_hot = df_summary[(df_summary['number_of_days'] >= 365) 
                    & (df_summary['zeros'] + df_summary['missing_hh'] <= 20)]
df_hot

,LCLid,start_date,end_date,number_of_days,data_points,missing_hh,zeros,tariff,Block,Acorn,Group,Classification,Select
1,MAC000246,03/12/2011 09:00,28/02/2014 00:00,817,39244,3,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
4,MAC003223,17/09/2012 12:30,28/02/2014 00:00,528,25366,2,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
5,MAC003239,18/09/2012 09:00,28/02/2014 00:00,527,25326,1,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
7,MAC003281,21/09/2012 08:30,28/02/2014 00:00,524,25178,6,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
8,MAC003305,24/09/2012 10:30,28/02/2014 00:00,521,25034,2,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5554,MAC003652,12/10/2012 11:30,28/02/2014 00:00,503,24162,8,10,No Data,No Data,No Data,No Data,No Data,True
5555,MAC003860,25/10/2012 08:30,28/02/2014 00:00,490,23552,0,0,No Data,No Data,No Data,No Data,No Data,True
5557,MAC004215,23/05/2012 10:00,28/02/2014 00:00,645,30986,3,1,No Data,No Data,No Data,No Data,No Data,True
5558,MAC004570,23/12/2011 10:00,28/02/2014 00:00,797,38281,4,0,No Data,No Data,No Data,No Data,No Data,True
5559,MAC004587,11/07/2012 08:00,28/02/2014 00:00,596,28631,10,0,No Data,No Data,No Data,No Data,No Data,True

In [28]:
houselist = df_hot['LCLid'].to_list()

In [51]:
subselect = np.random.choice(df_hot['LCLid'], size = hnumber).tolist()
subselect

['MAC002285',
 'MAC002979',
 'MAC000191',
 'MAC000379',
 'MAC003264',
 'MAC004693',
 'MAC000445',
 'MAC000771',
 'MAC003533',
 'MAC003243',
 'MAC000128',
 'MAC003728',
 'MAC004869',
 'MAC003799',
 'MAC004169',
 'MAC003381',
 'MAC004138',
 'MAC002691',
 'MAC005416',
 'MAC004933',
 'MAC002540',
 'MAC004866',
 'MAC004603',
 'MAC003713',
 'MAC004919',
 'MAC004547',
 'MAC001090',
 'MAC003200',
 'MAC003295',
 'MAC005081',
 'MAC004983',
 'MAC002530',
 'MAC001272',
 'MAC004659',
 'MAC004540',
 'MAC001029',
 'MAC000169',
 'MAC000754',
 'MAC002075',
 'MAC005224',
 'MAC001323',
 'MAC005044',
 'MAC002783',
 'MAC005341',
 'MAC003405',
 'MAC003299',
 'MAC003940',
 'MAC002550',
 'MAC004995',
 'MAC003735']

In [37]:
for i in df_hot['LCLid']:
    if i in subselect:
        True
    else:
        False

In [44]:
df_hot[[i in subselect for i in df_hot['LCLid']]]

,LCLid,start_date,end_date,number_of_days,data_points,missing_hh,zeros,tariff,Block,Acorn,Group,Classification,Select
177,MAC003427,01/10/2012 13:30,28/02/2014 00:00,514,24693,1,0,ToU,block_3,ACORN-C,Mature Money,Affluent Achievers,True
292,MAC004712,14/07/2012 08:00,18/11/2013 00:00,491,23599,2,0,Std,block_5,ACORN-C,Mature Money,Affluent Achievers,True
302,MAC000336,08/03/2012 09:30,30/09/2013 00:00,570,27382,8,0,ToU,block_6,ACORN-D,City Sophisticates,Rising Prosperity,True
342,MAC003511,05/10/2012 09:30,28/02/2014 00:00,510,24509,1,0,Std,block_6,ACORN-C,Mature Money,Affluent Achievers,True
394,MAC004628,11/07/2012 13:30,28/02/2014 00:00,596,28627,3,0,Std,block_7,ACORN-D,City Sophisticates,Rising Prosperity,True
642,MAC005315,16/02/2012 12:00,28/02/2014 00:00,742,35641,0,0,Std,block_12,ACORN-E,Career Climbers,Rising Prosperity,True
711,MAC002608,10/07/2012 12:30,28/02/2014 00:00,597,28679,1,0,Std,block_14,ACORN-E,Career Climbers,Rising Prosperity,True
801,MAC000320,06/03/2012 12:30,28/02/2014 00:00,723,34727,1,0,Std,block_16,ACORN-E,Career Climbers,Rising Prosperity,True
1119,MAC004565,23/12/2011 09:00,28/02/2014 00:00,797,38283,4,0,Std,block_22,ACORN-E,Career Climbers,Rising Prosperity,True
1210,MAC003790,22/10/2012 08:30,28/02/2014 00:00,493,23690,6,1,Std,block_24,ACORN-E,Career Climbers,Rising Prosperity,True
1218,MAC004022,06/07/2012 12:00,28/02/2014 00:00,601,28861,12,0,Std,block_24,ACORN-E,Career Climbers,Rising Prosperity,True
1220,MAC004041,06/07/2012 13:00,28/02/2014 00:00,601,28870,1,0,Std,block_24,ACORN-E,Career Climbers,Rising Prosperity,True
1270,MAC003854,24/10/2012 12:30,28/02/2014 00:00,491,23591,1,0,Std,block_25,ACORN-E,Career Climbers,Rising Prosperity,True
1482,MAC004856,29/12/2011 14:30,28/02/2014 00:00,791,37981,7,0,Std,block_29,ACORN-E,Career Climbers,Rising Prosperity,True
1508,MAC003105,16/05/2012 09:30,28/02/2014 00:00,652,31323,3,0,Std,block_30,ACORN-E,Career Climbers,Rising Prosperity,True
1630,MAC002593,10/07/2012 10:00,28/02/2014 00:00,597,28678,7,0,ToU,block_32,ACORN-E,Career Climbers,Rising Prosperity,True
1686,MAC002132,18/06/2012 12:30,28/02/2014 00:00,619,29735,1,0,ToU,block_33,ACORN-E,Career Climbers,Rising Prosperity,True
1735,MAC002265,23/04/2012 10:30,28/02/2014 00:00,675,32422,6,0,ToU,block_34,ACORN-E,Career Climbers,Rising Prosperity,True
1850,MAC000021,07/12/2011 10:00,28/02/2014 00:00,813,39051,2,0,Std,block_37,ACORN-E,Career Climbers,Rising Prosperity,True
1986,MAC005180,02/02/2012 10:00,28/02/2014 00:00,756,36314,3,0,ToU,block_39,ACORN-E,Career Climbers,Rising Prosperity,True
2040,MAC005200,03/02/2012 10:30,28/02/2014 00:00,755,36266,2,0,ToU,block_40,ACORN-E,Career Climbers,Rising Prosperity,True
2105,MAC000415,21/03/2012 11:00,28/02/2014 00:00,708,34008,3,0,Std,block_42,ACORN-E,Career Climbers,Rising Prosperity,True
2284,MAC004189,21/05/2012 10:30,28/02/2014 00:00,647,31077,7,0,ToU,block_45,ACORN-F,Countryside Communities,Comfortable Communities,True
2311,MAC003587,10/10/2012 08:30,28/02/2014 00:00,505,24269,3,0,Std,block_46,ACORN-F,Countryside Communities,Comfortable Communities,True
2394,MAC004969,24/01/2012 13:30,28/02/2014 00:00,765,36739,3,10,ToU,block_47,ACORN-F,Countryside Communities,Comfortable Communities,True
2400,MAC000156,23/11/2011 13:00,28/02/2014 00:00,827,39712,7,0,Std,block_48,ACORN-F,Countryside Communities,Comfortable Communities,True
2576,MAC002266,23/04/2012 10:30,28/02/2014 00:00,675,32423,5,0,Std,block_51,ACORN-F,Countryside Communities,Comfortable Communities,True
2695,MAC002630,03/05/2012 12:30,28/02/2014 00:00,665,31942,2,0,Std,block_53,ACORN-F,Countryside Communities,Comfortable Communities,True
3187,MAC004675,12/07/2012 14:00,28/02/2014 00:00,595,28579,2,0,Std,block_63,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3194,MAC004749,02/04/2012 13:00,28/02/2014 00:00,696,33430,1,0,Std,block_63,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3196,MAC005259,08/02/2012 12:00,28/02/2014 00:00,750,36020,5,0,Std,block_63,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3307,MAC001220,12/05/2012 15:00,28/02/2014 00:00,656,31505,2,0,Std,block_66,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3379,MAC003171,12/09/2012 09:00,28/02/2014 00:00,533,25614,1,0,Std,block_67,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3399,MAC000239,02/12/2011 10:00,28/02/2014 00:00,818,39290,3,0,Std,block_68,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3464,MAC001356,17/05/2012 11:00,28/02/2014 00:00,651,31274,1,3,Std,block_69,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3480,MAC003806,22/10/2012 11:30,28/02/2014 00:00,493,23685,5,0,Std,block_69,ACORN-H,Steady Neighbourhoods,Comfortable Communities,True
3590,MAC003892,26/10/2012 08:30,28/02/2014 00:00,489,23498,6,0,ToU,block_71,ACORN-I,Comfortable Seniors,Comfortable Communities,True
3673,MAC003309,24/09/2012 11:00,04/02/2014 00:00,497,23878,5,0,Std,block_73,ACORN-J,Starting Out,Comfortable Communities,True
3707,MAC000802,25/04/2012 10:30,28/02/2014 00:00,673,32329,3,0,Std,block_74,ACORN-K,Student Life,Financially Stretched,True
3746,MAC005168,01/06/2012 08:00,28/02/2014 00:00,636,30557,4,0,Std,block_74,ACORN-K,Student Life,Financially Stretched,True
4026,MAC003576,09/10/2012 12:00,16/11/2013 23:30,403,19366,2,0,Std,block_80,ACORN-L,Modest Means,Financially Stretched,True
4072,MAC003424,01/10/2012 12:30,15/01/2014 00:00,470,22583,1,0,Std,block_81,ACORN-L,Modest Means,Financially Stretched,True
4168,MAC003520,05/10/2012 13:30,28/02/2014 00:00,510,24502,0,0,Std,block_83,ACORN-L,Modest Means,Financially Stretched,True
4221,MAC003401,28/09/2012 12:30,28/02/2014 00:00,517,24839,1,0,Std,block_84,ACORN-M,Striving Families,Financially Stretched,True
4242,MAC003624,11/10/2012 12:00,28/02/2014 00:00,504,24210,7,0,Std,block_84,ACORN-M,Striving Families,Financially Stretched,True
4371,MAC002076,17/06/2012 00:30,28/02/2014 00:00,620,29802,6,0,Std,block_87,ACORN-N,Poorer Pensioners,Financially Stretched,True
4484,MAC003730,18/10/2012 08:30,28/02/2014 00:00,497,23883,5,0,Std,block_89,ACORN-O,Young Hardship,Urban Adversity,True
4961,MAC004659,12/07/2012 10:30,12/08/2013 00:00,395,18988,0,0,Std,block_99,ACORN-Q,Difficult Circumstances,Urban Adversity,True
5273,MAC002001,12/06/2012 12:30,28/02/2014 00:00,625,30024,0,0,Std,block_105,ACORN-Q,Difficult Circumstances,Urban Adversity,True
5355,MAC001640,28/05/2012 09:30,28/02/2014 00:00,640,30745,5,1,Std,block_107,ACORN-Q,Difficult Circumstances,Urban Adversity,True

In [24]:
df_hot[df_hot['LCLid'] in subselect]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [45]:
# Create a list of houses matching criteria

houselist = df_hot['LCLid'].tolist()

In [54]:
df_hot[df_hot['LCLid'] == houselist[3]]

,LCLid,start_date,end_date,number_of_days,data_points,missing_hh,zeros,tariff,Block,Acorn,Group,Classification,Select
7,MAC003281,21/09/2012 08:30,28/02/2014 00:00,524,25178,6,0,Std,block_0,ACORN-A,Lavish Lifestyles,Affluent Achievers,True

In [46]:
# Create a second list of the blocks where the data for each house is found

blocklist = df_hot['Block'].tolist()

In [50]:
blocklist[0] != blocklist [-1]

True

In [7]:
# Create a third list of the tariff type

tarifflist = df_hot['tariff'].tolist()

In [8]:
# Iterable loop concactinating the data into lists
LCL = []
Acorn_Group = []
DateTime = []
KWH = []
tariff = []


for i in range (0,int(len(houselist))):
    print(f'Now adding house {i+1} of {len(houselist)}, {houselist[i]} to the dataset...')
    blockstr = f'../raw_data/halfhourly_dataset/{blocklist[i]}.csv'
    df_house = pd.read_csv(blockstr, dtype = {'LCLid': object, 'tstp': object , 'energy(kWh/hh)': object})
    df_house = df_house[df_house['LCLid'] == houselist[i]]
    df_house['tariff'] = tarifflist[i]
    LCL.extend(df_house['LCLid'])
    DateTime.extend(df_house['tstp'])
    KWH.extend(df_house['energy(kWh/hh)'])
    tariff.extend(df_house['tariff'])

Now adding house 1 of 174, MAC000068 to the dataset...
Now adding house 2 of 174, MAC000117 to the dataset...
Now adding house 3 of 174, MAC000373 to the dataset...
Now adding house 4 of 174, MAC000893 to the dataset...
Now adding house 5 of 174, MAC001464 to the dataset...
Now adding house 6 of 174, MAC002013 to the dataset...
Now adding house 7 of 174, MAC002038 to the dataset...
Now adding house 8 of 174, MAC002079 to the dataset...
Now adding house 9 of 174, MAC003049 to the dataset...
Now adding house 10 of 174, MAC004234 to the dataset...
Now adding house 11 of 174, MAC005193 to the dataset...
Now adding house 12 of 174, MAC000101 to the dataset...
Now adding house 13 of 174, MAC000106 to the dataset...
Now adding house 14 of 174, MAC000146 to the dataset...
Now adding house 15 of 174, MAC000187 to the dataset...
Now adding house 16 of 174, MAC000303 to the dataset...
Now adding house 17 of 174, MAC000354 to the dataset...
Now adding house 18 of 174, MAC000395 to the dataset...
Now adding house 19 of 174, MAC001159 to the dataset...
Now adding house 20 of 174, MAC001440 to the dataset...
Now adding house 21 of 174, MAC001942 to the dataset...
Now adding house 22 of 174, MAC002212 to the dataset...
Now adding house 23 of 174, MAC002342 to the dataset...
Now adding house 24 of 174, MAC002377 to the dataset...
Now adding house 25 of 174, MAC003315 to the dataset...
Now adding house 26 of 174, MAC003338 to the dataset...
Now adding house 27 of 174, MAC003472 to the dataset...
Now adding house 28 of 174, MAC003476 to the dataset...
Now adding house 29 of 174, MAC003505 to the dataset...
Now adding house 30 of 174, MAC003525 to the dataset...
Now adding house 31 of 174, MAC003539 to the dataset...
Now adding house 32 of 174, MAC003541 to the dataset...
Now adding house 33 of 174, MAC003555 to the dataset...
Now adding house 34 of 174, MAC005548 to the dataset...
Now adding house 35 of 174, MAC000014 to the dataset...
Now adding house 36 of 174, MAC000065 to the dataset...
Now adding house 37 of 174, MAC000115 to the dataset...
Now adding house 38 of 174, MAC001113 to the dataset...
Now adding house 39 of 174, MAC001307 to the dataset...
Now adding house 40 of 174, MAC001341 to the dataset...
Now adding house 41 of 174, MAC001373 to the dataset...
Now adding house 42 of 174, MAC001668 to the dataset...
Now adding house 43 of 174, MAC001925 to the dataset...
Now adding house 44 of 174, MAC002367 to the dataset...
Now adding house 45 of 174, MAC002823 to the dataset...
Now adding house 46 of 174, MAC003178 to the dataset...
Now adding house 47 of 174, MAC003669 to the dataset...
Now adding house 48 of 174, MAC003675 to the dataset...
Now adding house 49 of 174, MAC003848 to the dataset...
Now adding house 50 of 174, MAC003862 to the dataset...
Now adding house 51 of 174, MAC003890 to the dataset...
Now adding house 52 of 174, MAC003919 to the dataset...
Now adding house 53 of 174, MAC000038 to the dataset...
Now adding house 54 of 174, MAC000680 to the dataset...
Now adding house 55 of 174, MAC000792 to the dataset...
Now adding house 56 of 174, MAC001323 to the dataset...
Now adding house 57 of 174, MAC001761 to the dataset...
Now adding house 58 of 174, MAC002151 to the dataset...
Now adding house 59 of 174, MAC002398 to the dataset...
Now adding house 60 of 174, MAC002722 to the dataset...
Now adding house 61 of 174, MAC003175 to the dataset...
Now adding house 62 of 174, MAC003277 to the dataset...
Now adding house 63 of 174, MAC003300 to the dataset...
Now adding house 64 of 174, MAC003310 to the dataset...
Now adding house 65 of 174, MAC003311 to the dataset...
Now adding house 66 of 174, MAC003459 to the dataset...
Now adding house 67 of 174, MAC003491 to the dataset...
Now adding house 68 of 174, MAC003576 to the dataset...
Now adding house 69 of 174, MAC003640 to the dataset...
Now adding house 70 of 174, MAC003703 to the dataset...
Now adding house 71 of 174, MAC003705 to the dataset...
Now adding house 72 of 174, MAC003728 to the dataset...
Now adding house 73 of 174, MAC003738 to the dataset...
Now adding house 74 of 174, MAC003765 to the dataset...
Now adding house 75 of 174, MAC003783 to the dataset...
Now adding house 76 of 174, MAC003816 to the dataset...
Now adding house 77 of 174, MAC003838 to the dataset...
Now adding house 78 of 174, MAC004224 to the dataset...
Now adding house 79 of 174, MAC004626 to the dataset...
Now adding house 80 of 174, MAC004847 to the dataset...
Now adding house 81 of 174, MAC005338 to the dataset...
Now adding house 82 of 174, MAC005357 to the dataset...
Now adding house 83 of 174, MAC005371 to the dataset...
Now adding house 84 of 174, MAC000127 to the dataset...
Now adding house 85 of 174, MAC000256 to the dataset...
Now adding house 86 of 174, MAC000390 to the dataset...
Now adding house 87 of 174, MAC000436 to the dataset...
Now adding house 88 of 174, MAC000484 to the dataset...
Now adding house 89 of 174, MAC000490 to the dataset...
Now adding house 90 of 174, MAC003253 to the dataset...
Now adding house 91 of 174, MAC003254 to the dataset...
Now adding house 92 of 174, MAC003258 to the dataset...
Now adding house 93 of 174, MAC003263 to the dataset...
Now adding house 94 of 174, MAC003267 to the dataset...
Now adding house 95 of 174, MAC003270 to the dataset...
Now adding house 96 of 174, MAC003289 to the dataset...
Now adding house 97 of 174, MAC003297 to the dataset...
Now adding house 98 of 174, MAC003325 to the dataset...
Now adding house 99 of 174, MAC003326 to the dataset...
Now adding house 100 of 174, MAC003380 to the dataset...
Now adding house 101 of 174, MAC003424 to the dataset...
Now adding house 102 of 174, MAC003508 to the dataset...
Now adding house 103 of 174, MAC003510 to the dataset...
Now adding house 104 of 174, MAC003660 to the dataset...
Now adding house 105 of 174, MAC003674 to the dataset...
Now adding house 106 of 174, MAC003757 to the dataset...
Now adding house 107 of 174, MAC003836 to the dataset...
Now adding house 108 of 174, MAC003894 to the dataset...
Now adding house 109 of 174, MAC003909 to the dataset...
Now adding house 110 of 174, MAC003922 to the dataset...
Now adding house 111 of 174, MAC004113 to the dataset...
Now adding house 112 of 174, MAC004589 to the dataset...
Now adding house 113 of 174, MAC004721 to the dataset...
Now adding house 114 of 174, MAC004761 to the dataset...
Now adding house 115 of 174, MAC000245 to the dataset...
Now adding house 116 of 174, MAC000724 to the dataset...
Now adding house 117 of 174, MAC000731 to the dataset...
Now adding house 118 of 174, MAC000779 to the dataset...
Now adding house 119 of 174, MAC003172 to the dataset...
Now adding house 120 of 174, MAC003181 to the dataset...
Now adding house 121 of 174, MAC003191 to the dataset...
Now adding house 122 of 174, MAC003192 to the dataset...
Now adding house 123 of 174, MAC003350 to the dataset...
Now adding house 124 of 174, MAC003435 to the dataset...
Now adding house 125 of 174, MAC003455 to the dataset...
Now adding house 126 of 174, MAC003564 to the dataset...
Now adding house 127 of 174, MAC003565 to the dataset...
Now adding house 128 of 174, MAC003574 to the dataset...
Now adding house 129 of 174, MAC003641 to the dataset...
Now adding house 130 of 174, MAC003644 to the dataset...
Now adding house 131 of 174, MAC003667 to the dataset...
Now adding house 132 of 174, MAC003785 to the dataset...
Now adding house 133 of 174, MAC004169 to the dataset...
Now adding house 134 of 174, MAC004576 to the dataset...
Now adding house 135 of 174, MAC004793 to the dataset...
Now adding house 136 of 174, MAC005432 to the dataset...
Now adding house 137 of 174, MAC000009 to the dataset...
Now adding house 138 of 174, MAC000199 to the dataset...
Now adding house 139 of 174, MAC000548 to the dataset...
Now adding house 140 of 174, MAC000568 to the dataset...
Now adding house 141 of 174, MAC000629 to the dataset...
Now adding house 142 of 174, MAC000670 to the dataset...
Now adding house 143 of 174, MAC003089 to the dataset...
Now adding house 144 of 174, MAC003090 to the dataset...
Now adding house 145 of 174, MAC003127 to the dataset...
Now adding house 146 of 174, MAC003193 to the dataset...

Now adding house 147 of 174, MAC003224 to the dataset...
Now adding house 148 of 174, MAC003242 to the dataset...
Now adding house 149 of 174, MAC003520 to the dataset...
Now adding house 150 of 174, MAC003526 to the dataset...
Now adding house 151 of 174, MAC003533 to the dataset...
Now adding house 152 of 174, MAC003577 to the dataset...
Now adding house 153 of 174, MAC003593 to the dataset...
Now adding house 154 of 174, MAC003598 to the dataset...
Now adding house 155 of 174, MAC003604 to the dataset...
Now adding house 156 of 174, MAC003609 to the dataset...
Now adding house 157 of 174, MAC003612 to the dataset...
Now adding house 158 of 174, MAC003726 to the dataset...
Now adding house 159 of 174, MAC003773 to the dataset...
Now adding house 160 of 174, MAC003821 to the dataset...
Now adding house 161 of 174, MAC004033 to the dataset...
Now adding house 162 of 174, MAC004490 to the dataset...
Now adding house 163 of 174, MAC004497 to the dataset...
Now adding house 164 of 174, MAC004505 to the dataset...
Now adding house 165 of 174, MAC004507 to the dataset...
Now adding house 166 of 174, MAC004566 to the dataset...
Now adding house 167 of 174, MAC004947 to the dataset...
Now adding house 168 of 174, MAC005023 to the dataset...
Now adding house 169 of 174, MAC000428 to the dataset...
Now adding house 170 of 174, MAC003398 to the dataset...
Now adding house 171 of 174, MAC003535 to the dataset...
Now adding house 172 of 174, MAC003537 to the dataset...
Now adding house 173 of 174, MAC003623 to the dataset...
Now adding house 174 of 174, MAC003793 to the dataset...

In [9]:
# Creating a new Data Frame with lists

block_data = pd.DataFrame({'LCLid': LCL, 'DateTime': DateTime, 'KWH/hh': KWH, 'Tariff': tariff})

In [10]:
# Remove Null values

block_data = block_data[block_data['KWH/hh'] != 'Null']

# Convert KWH/hh to numeric

block_data['KWH/hh'] = pd.to_numeric(block_data['KWH/hh'])

# Convert DateTime to DateTime format

block_data['DateTime'] = pd.to_datetime(block_data['DateTime'])

# Create ACORN group label

block_data['Acorn_Group'] = groupletter
block_data['Group'] = df_hot['Group'].iloc[0]
block_data['Classification'] = df_hot['Classification'].iloc[0]

In [11]:
# View the final dataset

block_data

,LCLid,DateTime,KWH/hh,Tariff,Acorn_Group,Group,Classification
0,MAC000068,2011-12-09 13:00:00,0.000,Std,L,Modest Means,Financially Stretched
1,MAC000068,2011-12-09 14:00:00,0.300,Std,L,Modest Means,Financially Stretched
2,MAC000068,2011-12-09 14:30:00,0.805,Std,L,Modest Means,Financially Stretched
3,MAC000068,2011-12-09 15:00:00,0.601,Std,L,Modest Means,Financially Stretched
4,MAC000068,2011-12-09 15:30:00,0.257,Std,L,Modest Means,Financially Stretched
...,...,...,...,...,...,...,...
4977547,MAC003793,2014-02-27 22:00:00,0.316,Std,L,Modest Means,Financially Stretched
4977548,MAC003793,2014-02-27 22:30:00,0.283,Std,L,Modest Means,Financially Stretched
4977549,MAC003793,2014-02-27 23:00:00,0.297,Std,L,Modest Means,Financially Stretched
4977550,MAC003793,2014-02-27 23:30:00,0.388,Std,L,Modest Means,Financially Stretched
4977551,MAC003793,2014-02-28 00:00:00,0.414,Std,L,Modest Means,Financially Stretched

In [12]:
# Save and Export dataset to CSV
filename = f'df_{groupletter}_v1.csv'

block_data.to_csv(f'../raw_data/{filename}')