In [1]:
import pandas as pd
import numpy as np

In [4]:
print('********')
print('train test separator')
print('********')
print('Input precise path for data including extension')
filename = input()

********
train test separator
********
Ensure full data file is in raw data, and input file name without csv extension
df_Q_avg_v1

In [14]:
fulldata = pd.read_csv(f'{filename}')
fulldata

       Unnamed: 0             DateTime    KWH/hh tariff
0               0  2012-01-01 00:00:00  0.220841  Mixed
1               1  2012-01-01 00:30:00  0.424705  Mixed
2               2  2012-01-01 01:00:00  0.403841  Mixed
3               3  2012-01-01 01:30:00  0.356727  Mixed
4               4  2012-01-01 02:00:00  0.340091  Mixed
...           ...                  ...       ...    ...
37868       37868  2014-02-27 22:00:00  0.218403  Mixed
37869       37869  2014-02-27 22:30:00  0.222593  Mixed
37870       37870  2014-02-27 23:00:00  0.196908  Mixed
37871       37871  2014-02-27 23:30:00  0.171810  Mixed
37872       37872  2014-02-28 00:00:00  0.179267  Mixed

[37873 rows x 4 columns]

In [17]:
fulldata['DateTime'][0]

'2012-01-01 00:00:00'

In [18]:
fulldata['DateTime'] = pd.to_datetime(fulldata['DateTime'])
fulldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37873 entries, 0 to 37872
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  37873 non-null  int64
 1   DateTime    37873 non-null  datetime64[ns]
 2   KWH/hh      37873 non-null  float64
 3   tariff      37873 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.2+ MB

In [21]:
train_data = fulldata[(fulldata['DateTime'] >= '2012-01-01') & (fulldata['DateTime'] < '2014-01-01')]
validation_data = fulldata[(fulldata['DateTime'] >= '2014-01-01') & (fulldata['DateTime'] < '2014-02-01')]
test_data = fulldata[(fulldata['DateTime'] >= '2012-02-01') & (fulldata['DateTime'] < '2014-03-01')]

In [22]:
zenan = pd.read_csv('https://storage.googleapis.com/energy_consumption_903/df_all_avg_v3.csv')

In [23]:
zenan

                   DateTime    KWH/hh tariff Acorn_Group
0       2012-01-01 00:00:00  0.471778  Mixed           A
1       2012-01-01 00:30:00  0.483222  Mixed           A
2       2012-01-01 01:00:00  0.457222  Mixed           A
3       2012-01-01 01:30:00  0.380556  Mixed           A
4       2012-01-01 02:00:00  0.452889  Mixed           A
...                     ...       ...    ...         ...
642754  2014-02-27 22:00:00  0.218403  Mixed           Q
642755  2014-02-27 22:30:00  0.222593  Mixed           Q
642756  2014-02-27 23:00:00  0.196908  Mixed           Q
642757  2014-02-27 23:30:00  0.171810  Mixed           Q
642758  2014-02-28 00:00:00  0.179267  Mixed           Q

[642759 rows x 4 columns]

In [25]:
zenan['tariff'].unique()

array(['Mixed'], dtype=object)